<?xml version="1.0" encoding="UTF-8" ?>
<openbox_menu>

    <menu id="application" label="Application">
        <item label="Advanced Network Configuration">
            <action name="Execute">
                <command>nm-connection-editor</command>
                <startupnotify><enabled>yes</enabled></startupnotify>
            </action>
        </item>
        <item label="Bluetooth Manager">
            <action name="Execute">
                <command>blueman-manager</command>
                <startupnotify><enabled>yes</enabled></startupnotify>
            </action>
        </item>
        <item label="File Roller">
            <action name="Execute">
                <command>file-roller</command>
                <startupnotify><enabled>yes</enabled></startupnotify>
            </action>
        </item>
        <item label="Files">
            <action name="Execute">
                <command>nautilus --new-window</command>
                <startupnotify><enabled>yes</enabled></startupnotify>
            </action>
        </item>
        <item label="Passwords and Keys">
            <action name="Execute">
                <command>seahorse</command>
                <startupnotify><enabled>yes</enabled></startupnotify>
            </action>
        </item>
        <item label="Volume Control">
            <action name="Execute">
                <command>pavucontrol</command>
                <startupnotify><enabled>yes</enabled></startupnotify>
            </action>
        </item>
    </menu>

    <menu id="network" label="Network">
        <item label="Firefox">
            <action name="Execute">
                <command>firefox</command>
                <startupnotify><enabled>yes</enabled></startupnotify>
            </action>
        </item>
    </menu>

    <menu id="terminal" label="Terminal">
        <item label="WezTerm">
            <action name="Execute">
                <command>wezterm</command>
                <startupnotify><enabled>yes</enabled></startupnotify>
            </action>
        </item>
        <item label="XTerm">
            <action name="Execute">
                <command>xterm</command>
                <startupnotify><enabled>yes</enabled></startupnotify>
            </action>
        </item>
    </menu>

    <menu id="root-menu" label="Openbox">
        <separator label="Applications" />
        <menu id="application" />
        <menu id="network" />
        <menu id="terminal" />
        <separator label="System" />
        <item label="Log Out">
            <action name="Exit"><prompt>no</prompt></action>
        </item>
    </menu>

</openbox_menu>
